body {
    margin: 0;
    padding: 0;
    background-color: #F6F7FC;
    height: 737px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.login {
    width: 500px;
    height: 450px;
    background-color: white;
    color: #393737;
    border-radius: 18px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 65px 20px;
}

.login_sub_container h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
}
.input_field {
     width: 95%;
     border: 1px solid black;
     display:flex;
     justify-content: space-between;
     align-items: center;
    border-radius: 8px;
    height: 50px;
    padding-left: 20px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    /* margin-bottom:10px */ 
}


.input_field input {
    width: 90%;
    font-size: 24px;
    border: none;
    margin-left: 15px;
 }
.input_field input:focus{
    outline-width: 0;
} 
.input_field input[type="password"]{
    width: 100%;
}
.input_field  button{
    height: 50px;
    width: 60px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    margin-right: 5px;
    /* background-image: url("icons/View.svg"); */
}
.input_field  button:hover{
    cursor: pointer;
}


.login  input[type="submit"] {
    width: 95%;
    border-radius: 8px;
    font-size: 24px;
    margin-top: 80px;
    border:  none;
    background-color: #007AFF;
    color: white;
    height: 55px;
    margin-left: 15px;
}
.login  input[type="submit"]:hover{
    background-color: hsl(211, 100%, 70%);
    cursor: pointer;

}